@model TechMoveGLMS.Models.Client

@{
    ViewData["Title"] = "Delete Client";
}

<h1>Delete Client</h1>

<h3>Are you sure you want to delete this client?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Contact Details</dt>
        <dd class="col-sm-9">@Model.ContactDetails</dd>

        <dt class="col-sm-3">Region</dt>
        <dd class="col-sm-9">@Model.Region</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ClientId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>