@model TechMoveGLMS.Models.Client

@{
    ViewData["Title"] = "Client Details";
}

<h1>Client Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Contact Details</dt>
        <dd class="col-sm-9">@Model.ContactDetails</dd>

        <dt class="col-sm-3">Region</dt>
        <dd class="col-sm-9">@Model.Region</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>